@keyframes customBounce {
  0%,
  100% {
    transform: translateY(-10%);
  }
  50% {
    transform: translateY(0);
  }
}

@keyframes slideHorizontal {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(
      100px
    ); /* Ajusta el valor para el desplazamiento deseado */
  }
}

@keyframes slideVertical {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(
      100px
    ); /* Ajusta el valor para el desplazamiento deseado */
  }
}

@keyframes slideRight {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(
      -100px
    ); /* Ajusta el valor para el desplazamiento deseado */
  }
}

.animation-description {
  animation: animation-reveal linear both;
  animation-timeline: view();
  animation-range: entry 20% cover 30%;
}

@keyframes animation-reveal {
  0% {
    opacity: 0;
    translate: 0 100px;
  }

  100% {
    opacity: 1;
    translate: 0 0;
  }
}

.carrusel-scroll::-webkit-scrollbar {
  display: none;
  /* Oculta la barra de desplazamiento en navegadores WebKit como Chrome y Safari */
}

/*  firefox */
.carrusel-scroll {
  scrollbar-width: none;
  -webkit-scrollbar-width: none;
}

.carrusel-scroll {
  -ms-overflow-style: none;
  /* Oculta la barra de desplazamiento en IE y Edge */
}

.section-recent {
  animation: animation-reveal linear both;
  animation-timeline: view();
  animation-range: entry 20% cover 30%;
}

@keyframes animation-reveal {
  0% {
    opacity: 0;
    translate: 0 100px;
  }

  100% {
    opacity: 1;
    translate: 0 0;
  }
}
