@keyframes customBounce {
  0%,
  100% {
    transform: translateY(-10%);
  }
  50% {
    transform: translateY(0);
  }
}

@keyframes slideHorizontal {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(
      1200px
    ); /* Ajusta el valor para el desplazamiento deseado */
  }
}



@keyframes slideRight {
  0%,
  100% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      -1200px
    ); /* Ajusta el valor para el desplazamiento deseado */
  }
}

.animation-description {
  animation: animation-reveal linear both;
  animation-timeline: view();
  animation-range: entry 20% cover 30%;
}

@keyframes animation-reveal {
  0% {
    opacity: 0;
    translate: 0 100px;
  }

  100% {
    opacity: 1;
    translate: 0 0;
  }
}

.carrusel-scroll::-webkit-scrollbar {
  display: none;
  /* Oculta la barra de desplazamiento en navegadores WebKit como Chrome y Safari */
}

/*  firefox */
.carrusel-scroll {
  scrollbar-width: none;
  -webkit-scrollbar-width: none;
}

.carrusel-scroll {
  -ms-overflow-style: none;
  /* Oculta la barra de desplazamiento en IE y Edge */
}

.section-recent {
  animation: animation-reveal linear both;
  animation-timeline: view();
  animation-range: entry 20% cover 30%;
}

@keyframes animation-reveal {
  0% {
    opacity: 0;
    translate: 0 100px;
  }

  100% {
    opacity: 1;
    translate: 0 0;
  }
}

.buscador{
  background-color: #7B6FCC !important;
  width: 100%;
  max-width: 370px;
  display: flex !important;
  justify-content: start !important;
  margin-top: 30px !important;
}
.buscador svg{
  font-weight: bold;
}
.EmpresasBuscar{
  width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    justify-content: center; 
    align-items: center;
    margin-bottom: 20px;
    padding: 20px 10px;
}
.EmpresasBuscar a{
  width: 100%;
}
.sectionBuscador{
  padding: 20px 30px;
}
.redondeo{
  border-radius: 0.375rem 0.375rem 0 0;
}

.loader {
  width: 28px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #7B6FCC;
  animation: l2 1s infinite;
}
@keyframes l2 {

  0%,
  100% {
      transform: translate(-35px);
      box-shadow: 0 0 #8FBCFF, 0 0 #2e96ff
  }

  40% {
      transform: translate(35px);
      box-shadow: -15px 0 #8FBCFF, -30px 0 #2e96ff
  }

  50% {
      transform: translate(35px);
      box-shadow: 0 0 #8FBCFF, 0 0 #2e96ff
  }

  90% {
      transform: translate(-35px);
      box-shadow: 15px 0 #8FBCFF, 30px 0 #2e96ff
  }
}
.bubble {
  width: 300px;
  height: 300px;
  background-color: #8fbcff;
  border-radius: 60% 40% 65% 35% / 55% 65% 45% 50%;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  animation: bubble-rotate 4s infinite ease-in-out;
}

@keyframes bubble-rotate {
  0% {
    border-radius: 60% 40% 65% 35% / 55% 65% 45% 50%;
  }
  25% {
    border-radius: 55% 65% 45% 50% / 60% 40% 60% 30%;
  }
  50% {
    border-radius: 60% 30% 60% 40% / 50% 60% 45% 65%;
  }
  75% {
    border-radius: 50% 60% 45% 65% / 55% 65% 35% 60%;
  }
  100% {
    border-radius: 60% 40% 65% 35% / 55% 65% 45% 50%;
  }
}

