@keyframes customBounce {
  0%,
  100% {
    transform: translateY(-10%);
  }
  50% {
    transform: translateY(0);
  }
}

@keyframes slideHorizontal {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(
      100px
    ); /* Ajusta el valor para el desplazamiento deseado */
  }
}

@keyframes slideVertical {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(
      100px
    ); /* Ajusta el valor para el desplazamiento deseado */
  }
}

@keyframes slideRight {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(
      -100px
    ); /* Ajusta el valor para el desplazamiento deseado */
  }
}
